@font-face {
  font-family: 'Amiamie', sans-serif;
  src: url('./fonts/Amiamie-Regular.ttf') format('ttf'),
}
@font-face {
    font-family: 'Fredokaone', monospace;
    src: url('.fonts/fredokaone.ttf') format('ttf'),
}

:root {
  --background-color: #232D47;
  --red: #d42035;
  --teal: #22fcbe;
  --blue: #7974d1;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Amiamie', sans-serif;
  background: var(--background-color);
  background: linear-gradient(45deg, #232D47 0%, #7974d1 100%);
  /* background-image: url("/images/grain.png"); */
}
h1 {
  font-family: 'Fredokaone', serif;
}

